/* ------header icons style ------ */
.header {
    max-width: 100%;
    background-color: var(--second-color);
    height: 5rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 7px 15px -10px #4f4f4f;
}
.logo {
    width: 9rem;
    height: 4rem;
    border-radius: 1rem;
}

.hooli-icon {
    width: 100%;
    height: 100%;
}

/* ------------------------------- */
.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.nav-item {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: capitalize;
    transition: all 500ms ease-in-out;
}
.nav-link {
    border: 1px solid transparent;
    padding: 18px 11px;
    border-radius: 1rem;   
}
.nav-icon {
    
}
.icon-wrapper {
    display: block;
    width: 4rem;
    height: 4rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 10px; 
}

.avatar-icon,
.nav-notification {
    fill: none;
    stroke: #000000;
}

/* ------ ---------- ------ */

.popup-menu-icon,
.more-popup-icon {
    max-width: 100%;
    width: 3.2rem;
    height: 3.6rem;
    object-fit: contain;
}

.popup-menu {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 2;
    top: 5.5rem;
    right: 2rem;
    height: 27rem;
    width: 20rem;
    background-color: var(--main-color);
    box-shadow: 0 7px 15px -10px #4f4f4f;
    border: 1px solid var(--second-color);
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}

.main-popup-menu {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-items: center;
    padding: 0.8rem;
    row-gap: 1em;
    overflow: auto;
}

.nav-popup-input,
.nav-popup-more-input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    appearance: none;
}

.nav-popup-input:checked~.popup-menu,
.nav-popup-more-input:checked~.more-button-container {
    display: block;
}

.popup-menu-link,
.more-popup-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0.5rem;
    width: 6rem;
    height: 6rem;
    border: solid 1px transparent;
    border-radius: 1rem;
    color: var(--text);
    text-transform: capitalize;
    font-size: 1em;
    transition: all 500ms ease-in-out;
}

.nav-popup-more-label {
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    height: 2.5rem;
    width: 18rem;
    background: var(--second-color);
    border-radius: 1rem;
    text-transform:capitalize ;
}

.more-button {
    grid-area: 5/1/5/4;
    display: grid;
    justify-items: center;
}

.more-button-container {
    display: none;
    width: 300px;
}

.more-popup-menu {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    padding: 1rem 0;
}

/* -------hover ------- */
.nav-link:hover,
.icon-wrapper:hover {
    color: var(--accent-color);
}

.hooli-icon:hover,
.icon-wrapper:hover svg.nav-burger,
.icon-wrapper:hover svg.avatar-icon {
    fill: var(--accent-color);
}

.icon-wrapper:hover svg.nav-notification,
.icon-wrapper:hover svg.avatar-icon {
    stroke: var(--accent-color);
}

.popup-menu-link:hover,
.more-popup-link:hover {
    color: var(--accent-color);
    background-color: var(--second-color);
    border: solid 1px var(--text);
    padding: 0.5rem;
}

.nav-popup-more-label:hover {
    color: var(--accent-color);
    border: solid 1px var(--text);
    transition: all 500ms ease-in-out;
}

/* ------ focus ------ */
.logo:focus,
.nav-link:focus,
.icon-wrapper:focus-within {
    border: 1px solid var(--text);
}

.popup-menu-link:focus,
.more-popup-link:focus {
    border: 1px solid var(--text);
}

/*------ скрол popup -------*/
.popup-menu::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 1rem;
}

.popup-menu::-webkit-scrollbar {
    width: 0.5rem;
}

.popup-menu::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
    border-radius: 5rem;
}

/* ------ адаптив ------ */

@media (max-width: 590px) {
    .header {
        justify-content: flex-end;
        padding: 0 0;
    }
    .logo {
        display: none;
    }
    .header-nav-menu {
        width: 90%;
    }
    .nav-item {
        margin: 0 0rem;
    }
    .nav-link {
        font-size: 1em;
    }
    .main-popup-menu {
        padding: 0.3rem;
        grid-row-gap: 0.5rem;
    }
    .body-target {
        text-align: center;
        font-size: 1em;
    }
    .footer {
        flex-direction: column;
        font-size: 1em;
    }
}

@media (max-width: 375px) {
    .nav-link {
        padding: 10px 5px;
    }
    .icon-wrapper {
        width: 3rem;
        height: 3rem;
        padding: 5px;
    }
    .popup-menu {
        width: 15rem;
        height: 21rem;
    }
    .more-button-container {
        width: 200px;
    }
    .popup-menu-link, 
    .more-popup-link {
        width: 4rem;
        height: 5rem;
        font-size: 0.8em;
    }
    .nav-popup-more-label {
        width: 12rem;
    }
}